body {
  background-color: aquamarine;
  font-family: "Times New Roman", Times, serif;
}
/* books are columned with no bullet points */
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

/* content in the middle of black box */
li {
  border: 1px solid black;
  margin: 2%;
  border-radius: 4%;
  padding: 2%;
  text-align: center;
}
